.home {
  display: flex;
  flex-direction: column;
  background-color: white;
}

/* Info Section */
.home-info {
  display: flex;
  text-align: center;
}

.home-info h2 {
  margin: 0 0 20px 0;
}

.home-info p {
  margin: 0;
  text-align: left;
}

.about-us {
  flex: 1;
  padding: 20px 60px 40px 60px;
  color: white;
  background-color: rgb(202, 18, 55);
}

.anouncment-board {
  flex: 1;
  padding: 20px 60px 40px 60px;
  color: white;
  background-color: rgb(202, 18, 55);
}

/* Club Officers Section */
.club-officers {
  padding: 20px 20px 20px 20px;
  background-color: white;
  text-align: center;
}

.border {
  border: 2px solid rgba(0, 0, 0, 0.70);
}

.officer-heading {
  margin: 0;
  padding: 20px 0 0 0;
  background-color: bisque;
}

.officer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  padding: 20px 20px 20px 20px;
  background-color: bisque;
}

.officer {
  text-align: center;
  padding: 20px 0 20px 0;
}

.officer:hover {
  cursor: pointer;
  background-color: rgb(214, 197, 176);
}

.officer h2 {
  margin: 0 0 20px 0;
  font-size: 18px;
}

.officer img {
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0.70);
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.officer p {
  margin: 20px 0 0 0;
}

/* Social Media Section */
.socials {
  text-align: center;
  background-color: gray;
}

.socials img {
  height: 50px;
}

.close-button {
  padding: 10px 0 0 0;
  background-color: bisque;
}

.close-button:hover {
  cursor: pointer;
}

/* Tablet */
@media (width < 760px) {
  .home-info { display: block; }
  .home-info p { font-size: 14px;}
  .home-info h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
  }

  .about-us, .anouncment-board { padding: 20px 20px 20px 20px; }

  .officer-grid { display: block; }
}
