.Footer {
  margin-top: auto;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 25px 0;
  box-sizing: border-box;
}

.Footer p {
  margin: 0 0 0 25px;
}
