.Header {
  margin-bottom: 0;
  color: black;
  background-color: rgb(226, 223, 200);
  height: 50px;
  display: flex;
  align-items: center;
  height: 75px;
}

.Header-logo {
  max-width: 75px;
  max-height: 75px;
  display: flex;
  align-items: center;
}

.Header-logo img {
  max-width: 75px;
  max-height: 75px;
}

.Header-banner {
  width: 100%;
}
