.Navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(166, 15, 45); /* WSU Crimson*/
}

.Navbar a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 30px 15px 30px;
  display: block;
  text-align: center;
}

.Navbar a:hover {
  background-color: rgb(131, 12, 36);
}
