.Navbar {
  height: 50px;
}

.Navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgb(150, 150, 150);
  display: flex;
  justify-content: center;
}

.Navbar li {
  margin: 0;
}

.Navbar a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  display: block;
  text-align: center;
}

.Navbar a:hover {
  background-color: rgb(67, 67, 67);
}
