.Card {
  padding: 0;
  height: auto;
  background-color: bisque;
}

.Card h1 {
  margin: 10px 0 20px 0;
  font-size: 24px;
}

.Card h2 {
  margin: 0;
  text-align: left;
}

.Card h3 {
  margin: 0;
  padding: 10px 0 0 0;
  text-align: left;
}

.Card p {
  margin: 0;
  text-align: left;
}

.officer-name, .card-img {
  display: flex;
  justify-content: center;
}

.Card img {
  margin: 0;
  width: 150px;
  height: 150px;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0.70);
  border-radius: 8%;
}

.card-info {
  padding: 50px;
}
