body {
  margin: 0;
  padding: 0 10% 0 10%;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: Raleway, Arial, Helvetica, sans-serif;

  background-image: url('src/assets/wsu-bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
